/LockstepLibrary/nbproject/private/
/XeviousVS_Client/build/
/XeviousVS_Client/dist/
/LockstepLibrary/build/
/LockstepLibrary/dist/
/LockstepLibrary/target/
/LockstepLibrary/nbproject/
/XeviousVS_Client/target/
/MosaicSimulation/target/
LockstepLibrary/logs/.log
*.log