/LockstepLibrary/nbproject/private/
/XeviousVS_Client/build/
/XeviousVS_Client/dist/
/LockstepLibrary/build/
/LockstepLibrary/dist/
/LockstepLibrary/target/
/LockstepLibrary/nbproject/
/XeviousVS_Client/target/
/MosaicSimulation/target/
LockstepLibrary/logs/.log
*.log
LockstepLibrary/logs/.log
*.log
MosaicSimulation/simulation2.ps1
/XeviousVS_Server/nbproject/private/
/XeviousVS_Server/target/
/XeviousVS_ServerLog/target/
/XeviousVS_Client/nbproject/
*.log
*.log